/* Reset margins and paddings for full screen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #5C91E5, #983FC6);
}

html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    transition: background 0.3s ease-in-out;
}

section {
    text-align: center;
    max-width: 600px;
    width: 100%;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.7);
}

h2 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
}

.copyCode {
    font-family: 'Courier New', Courier, monospace;
    background-color: #fff;
    color: #333;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-top: 20px;
    border: 1px solid #ccc;
}

.copyCode:hover {
    background-color: #f1f1f1;
}

#myButton {
    background-color: #5C91E5;
}

#myButton2 {
    background-color: #983FC6;
}



button {
    padding: 12px 20px;
    font-size: 18px;

    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    width: 150px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {

    color: white;
    transform: scale(1.1);
}

button:active {
    transform: scale(0.95);
}

.gradient-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 768px) {
    section {
        padding: 20px;
    }

    .gradient-container {
        flex-direction: column;
    }

    button {
        width: 100%;
        font-size: 16px;
    }
}